
<nav class="bg-white shadow-md border-b border-gray-100 sticky top-0 z-50 font-poppins">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">

      <div class="flex items-center">
        <div class="flex-shrink-0 flex items-center">
          <i class="fas fa-music text-2xl text-blue-600 mr-3"></i>
          <span class="text-xl font-bold text-gray-900">MusicPartituras</span>
        </div>

        <div class="hidden md:block ml-10">
          <div class="flex space-x-4">
<a
  routerLink="/"
  routerLinkActive="bg-gray-200 text-gray-900"
  [routerLinkActiveOptions]="{ exact: true }"
  class="px-3 py-2 rounded-md text-md font-medium text-gray-600 hover:text-gray-900 hover:bg-gray-50"
>
  Inicio
</a>

<a
  routerLink="/partituras"
  routerLinkActive="bg-gray-200 text-gray-900"
  class="px-3 py-2 rounded-md text-md font-medium text-gray-600 hover:text-gray-900 hover:bg-gray-50"
>
  Partituras
</a>

<a
  routerLink="/contacto"
  routerLinkActive="bg-gray-200 text-gray-900"
  class="px-3 py-2 rounded-md text-md font-medium text-gray-600 hover:text-gray-900 hover:bg-gray-50"
>
  Contáctame
</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</nav>
